//!fonts----------------------
$main-font: 'Open Sans',Arial,sans-serif;

//!sizes----------------------
$base-font-size: 14px;
$content-size: 1140px;

//!colors---------------------
$white: #ffffff;
$black: #000000;

$athens-gray: #eef2e4;
$tundora: #4b4b4b;