//!fonts----------------------
$main-font: "Open Sans", Arial, sans-serif;

//!sizes----------------------
$base-font-size: 14px;
$content-size: 1140px;

//!colors---------------------//chir.ag - подбор названия цвета
$white: #ffffff;
$black: #000000;

$athens-gray: #eef2e4;
$silver-chalice: #a9a9a9;
$tundora: #4b4b4b;
$wild-sand: #f6f6f6;
$sunset-orange: #f74f40;
$mine-shaft: #262626;
$silver: #cccccc;
