//!fonts----------------------
$main-font: "Open Sans", Arial, sans-serif;

//!sizes----------------------
$base-font-size: 14px;
$content-size: 1140px;

//!colors---------------------//chir.ag - подбор названия цвета
$white: #ffffff;
$black: #000000;

$athens-gray: #dbf5f1;
$silver-chalice: #838383;
$tundora: #302f2f;
$alto: #dddddd;
$wild-sand: #f6f6f6;
$sunset-orange: #f74f40;
$mine-shaft: #262626;
$silver: #cccccc;
// flaticon - иконки

$placeholder-color: #a6a6a6;
