.title{
  &-section{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.67;
    margin-bottom: 15px;
  }
  &-page{
    font-size: 27px;
    font-weight: 600;
    line-height: 1.67;
    margin-bottom: 15px;
  }
}