.search {
  position: relative;
  z-index: 3;
  &.search--open{
    .search__body{
      display: block;
      animation: search .2s linear forwards;
    }
  }
  &__icon {
    @include size(20px);
    cursor: pointer;
  }
  &__body {
    position: absolute;
    right: 0;
    top: -35px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.21), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    display: none;
    opacity: 1;
    @media screen and (max-width: $tablet-size) {
      display: block;
      position: static;
    }
  }
  &__form {
    display: flex;
    align-items: center;
  }
  &__input {
    height: 50px;
    line-height: 48px;
    border: 1px solid $alto;
    border-right: none;
    border-radius: 2px 0 0 2px;
    background: transparent;
    padding: 0 50px 0 20px;
    color: $tundora;
    width: 100%;
    @media screen and (max-width: $phone-size) {
      height: 40px;
    }
    &::placeholder {
      color: $placeholder-color;
    }
    &-wrapper {
      position: relative;
      flex: 1;
    }
  }
  &__clear {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    cursor: pointer;
  }
  &__clear-icon {
    @include size(16px);
  }
  &__btn {
    height: 50px;
    background: $sunset-orange;
    border: none;
    border-radius: 0 2px 2px 0;
    color: #fff;
    padding: 0 15px;
    font-weight: 700;
    flex: 0 0 auto;
    @media screen and (max-width: $phone-size) {
      height: 40px;
    }
  }
}
@keyframes search {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
