.preloader{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(255, 255, 255);
  z-index: 999;
}
.preloader-wrapper{
  transform: translateY(30vh);
  width: 300px;
  height: 300px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  animation: wrapper 30s linear infinite;
}
@keyframes wrapper{
  0%{
    
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.gnat{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.gnat-1{
  background: #6df320;
  animation: gnat1 .6s linear infinite; 
}
@keyframes gnat1{
  0%{ transform:rotate(0deg) translateX(58px) rotate(0deg);
}
  100%{
    transform:rotate(360deg) translateX(58px) rotate(-360deg);
}
}
.gnat-2{
  background: #ff0000;
  animation: gnat2 .9s linear infinite;
}
@keyframes gnat2{
  0%{ transform:rotate(360deg) translateX(60px) rotate(-360deg);
}
  100%{
    transform:rotate(0deg) translateX(60px) rotate(0deg);
}
}
.gnat-3{
  background: #09eafa;
  animation: gnat3 1s linear infinite;
}
@keyframes gnat3{
  0%{ transform:rotate(0deg) translateX(60px) rotate(0deg);
}
  25%{
    transform:rotate(90deg) translateX(50px) rotate(-90deg);
  }
  50%{
    transform:rotate(180deg) translateX(55px) rotate(-180deg);
  }
  100%{
    transform:rotate(360deg) translateX(60px) rotate(-360deg);
}
}
.gnat-4{
  background: #a812ff;
  animation: gnat4 0.7s linear infinite;
}
@keyframes gnat4{
  0%{ transform:rotate(0deg) translateX(55px) rotate(0deg);
}
  100%{
    transform:rotate(360deg) translateX(55px) rotate(-360deg);
}
}
.gnat-5{
  background: #ee93ee;
  animation: gnat5 0.8s linear infinite;
}
@keyframes gnat5{
  0%{ transform:rotate(0deg) translateX(55px) rotate(0deg);
}
  50%{
    transform:rotate(180deg) translateX(45px) rotate(-180deg);
  }
  100%{
    transform:rotate(360deg) translateX(55px) rotate(-360deg);
}
}
.gnat-6{
  background: #e8eb3a;
  animation: gnat6 0.8s linear infinite;
}
@keyframes gnat6{
  0%{ transform:rotate(360deg) translateX(45px) rotate(-360deg);
}
  50%{
    transform:rotate(180deg) translateX(65px) rotate(180deg);
  }
  100%{
    transform:rotate(0deg) translateX(45px) rotate(0deg);
}
}