section.s-banner
  .container
    .banner
      .banner__navigation.banner__navigation--prev
        img(src="img/svg/angle.svg", alt="").banner__navigation-icon
      .banner__navigation.banner__navigation--next
        img(src="img/svg/angle.svg", alt="").banner__navigation-icon
      .js-banner
        .banner__item
          .banner__content
            .banner__body
              span.banner__title Кроссовки
              span.banner__descr Отличный подарок бегуну или туристу
              a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать 
            .banner__img-wrapper
              img(src="img/png/running.png", alt="Картинка на баннере").banner__img
        .banner__item
          .banner__content
            .banner__body
              span.banner__title Кроссовки
              span.banner__descr Отличный подарок бегуну или туристу
              a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать 
            .banner__img-wrapper
              img(src="img/png/running.png", alt="Картинка на баннере").banner__img
        .banner__item
          .banner__content
            .banner__body
              span.banner__title Кроссовки
              span.banner__descr Отличный подарок бегуну или туристу
              a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать 
            .banner__img-wrapper
              img(src="img/png/running.png", alt="Картинка на баннере").banner__img