.main-nav__dropdown
  .main-nav__col
    ul.main-subnav__list
      li.main-subnav__item
        a(href="").main-subnav__link
          span.main-subnav__text Взрослые самокаты
          .main-subnav__icon
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link
              span.main-subnav__text Взрослые двухколесные самокаты
          li.main-subnav__item
            a(href="").main-subnav__link
              span.main-subnav__text Взрослые трехколесные самокаты
          li.main-subnav__item
            a(href="").main-subnav__link
              span.main-subnav__text Взрослые самокаты с большими колесами
          li.main-subnav__item
            a(href="").main-subnav__link
              span.main-subnav__text Взрослые самокаты с надувными колесами
      li.main-subnav__item
        a(href="").main-subnav__link
          span.main-subnav__text Детские самокаты
          .main-subnav__icon
      li.main-subnav__item
        a(href="").main-subnav__link
          span.main-subnav__text Городские самокаты
          .main-subnav__icon
      li.main-subnav__item
        a(href="").main-subnav__link
          span.main-subnav__text Складные самокаты
          .main-subnav__icon
      li.main-subnav__item
        a(href="").main-subnav__link
          span.main-subnav__text Трюковые самокаты
          .main-subnav__icon
      li.main-subnav__item
        a(href="").main-subnav__link
          span.main-subnav__text Электросамокаты
          .main-subnav__icon    
      li.main-subnav__item
        a(href="").main-subnav__link
          span.main-subnav__text Самокаты с двумя амортизаторами 
          .main-subnav__icon
  .main-nav__col