.main-nav__dropdown-wrapper
  .main-nav__dropdown
    .main-nav__col
      ul.main-subnav__list
        li.main-subnav__item
          a(href="").main-subnav__link
            span.main-subnav__text Беговелы
            .main-subnav__icon
          ul.main-subnav__list
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Беговелы большими колесами
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Беговелы надувными колесами
        li.main-subnav__item
          a(href="").main-subnav__link
            span.main-subnav__text Детские самокаты
            .main-subnav__icon
          ul.main-subnav__list
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Детские двухколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Детские трехколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Детские самокаты с большими колесами
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Детские самокаты с надувными колесами
        li.main-subnav__item
          a(href="").main-subnav__link
            span.main-subnav__text Городские самокаты
            .main-subnav__icon
          ul.main-subnav__list
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Городские двухколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Городские трехколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Городские самокаты с большими колесами
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Городские самокаты с надувными колесами
        li.main-subnav__item
          a(href="").main-subnav__link
            span.main-subnav__text Складные самокаты
            .main-subnav__icon
          ul.main-subnav__list
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Складные двухколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Складные трехколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Складные самокаты с большими колесами
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Складные самокаты с надувными колесами
        li.main-subnav__item
          a(href="").main-subnav__link
            span.main-subnav__text Трюковые самокаты
            .main-subnav__icon
          ul.main-subnav__list
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Трюковые двухколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Трюковые трехколесные самокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Трюковые самокаты с большими колесами
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Трюковые самокаты с надувными колесами
        li.main-subnav__item
          a(href="").main-subnav__link
            span.main-subnav__text Электросамокаты
            .main-subnav__icon
          ul.main-subnav__list
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Взрослые двухколесные электросамокаты
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Детские трехколесные электросамокаты 
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Электросамокаты с большими колесами
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Элуктросамокаты с надувными колесами
        li.main-subnav__item
          a(href="").main-subnav__link
            span.main-subnav__text Самокаты с двумя амортизаторами 
            .main-subnav__icon
          ul.main-subnav__list
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Детские самокаты с двумя амортизаторами
            li.main-subnav__item
              a(href="").main-subnav__link
                span.main-subnav__text Взрослые самокаты с двумя амортизаторами
    .main-nav__col