nav.header__main-nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a(href="").main-nav__link Самокаты
            .main-nav-dropdown
              ul.main-nav-dropdown__list
                li.main-nav-dropdown__item
                  a(href="").main-nav-dropdown__link
                    span.main-nav-dropdown__text Взрослые самокаты
                    .main-nav-dropdown__icon
                  .main-nav-dropdown-item__dropdown
                    ul.main-nav-dropdown-item__dropdown-list
                      li.main-nav-dropdown-item__dropdown-item
                        a(href="").main-nav-dropdown-item__dropdown-link
                          span.main-nav-dropdown-item__dropdown-text Взрослые двухколесные самокаты
                li.main-nav-dropdown__item
                  a(href="").main-nav-dropdown__link
                    span.main-nav-dropdown__text Детские самокаты
                    .main-nav-dropdown__icon
                li.main-nav-dropdown__item
                  a(href="").main-nav-dropdown__link
                    span.main-nav-dropdown__text Городские самокаты
                    .main-nav-dropdown__icon
                li.main-nav-dropdown__item
                  a(href="").main-nav-dropdown__link
                    span.main-nav-dropdown__text Складные самокаты
                    .main-nav-dropdown__icon
                li.main-nav-dropdown__item
                  a(href="").main-nav-dropdown__link
                    span.main-nav-dropdown__text Трюковые самокаты
                    .main-nav-dropdown__icon
                li.main-nav-dropdown__item
                  a(href="").main-nav-dropdown__link
                    span.main-nav-dropdown__text Электросамокаты
                    .main-nav-dropdown__icon    
                li.main-nav-dropdown__item
                  a(href="").main-nav-dropdown__link
                    span.main-nav-dropdown__text Самокаты с двумя амортизаторами 
                    .main-nav-dropdown__icon        
          li.main-nav__item
            a(href="").main-nav__link Беговелы
          li.main-nav__item
            a(href="").main-nav__link Велосипеды
          li.main-nav__item
            a(href="").main-nav__link Ролики
          li.main-nav__item
            a(href="").main-nav__link Скейты
          li.main-nav__item
            a(href="").main-nav__link Батуты
          li.main-nav__item
            a(href="").main-nav__link Аксессуары и запчасти
          li.main-nav__item
            a(href="").main-nav__link Ещё