@import "news";
@import "review";
@import "brands";

.information{
  padding-top: 30px;
  display: flex;
  & > * {
    flex: 1;
    padding-right: 40px;
    &:last-child{
      padding-right: 0;
    }
  }
  &-item__body{
    height: 250px;
  }
  &-item__footer{
    display: flex;
    justify-content: center;
  }
  &-item__link{
    color: $tundora;
    border-bottom: 1px solid rgba(38, 38, 38, 0.37);
  }
  .title-section{
    text-align: center;
  }
}