.review-prev{
  &__text{
    line-height: 1.77;
    margin-bottom: 15px;
  }
  &__author{
    display: inline-block;
    background: #fff;
    padding: 5px 7px;
    border-radius: 2px;
    font-size: 12px;
    color: #444444;
  }
}