.main-nav {
  &__list {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .main-nav {
        &__link {
          border-bottom-color: $sunset-orange;
        }
        &__dropdown-wrapper {
          display: block;
          z-index: 3;
        }
      }
    }
  }
  &__link {
    border-bottom: 2px solid transparent;
    display: block;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.88;
    color: $tundora;
    transition: 0.2s;
  }
  &__dropdown {
    left: 0;
    padding-top: 10px;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    display: inline-flex;
    &-wrapper {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
    }
  }
  &__icon{
    @include size(12px);
    transform: rotate(90deg);
    margin-left: 10px;
  }
}
.main-subnav {
  &__list {
    position: relative;
    width: 360px;
    background: #fff;
    height: auto;
    .main-subnav__list {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
  &__item {
    &:hover {
      & > .main-subnav__link {
        background: $athens-gray;
        color: $sunset-orange;
      }
      .main-subnav__icon {
        background-image: url(../../../img/svg/angle-right-active.svg);
      }
      .main-subnav__list {
        display: block;
      }
    }
  }
  &__link {
    color: $mine-shaft;
    display: flex;
    padding: 10px;
    line-height: 20px;
    align-items: center;
  }
  &__icon {
    background-image: url(../../../img/svg/angle-right.svg);
    height: 12px;
    margin-left: auto;
    width: 8px;
  }
}
