.mobile-menu {
  width: 50%;
  display: flex;
  align-items: center;
}
.mobile-menu {
  &__sandwich {
    margin-right: 15px;
  }
  &__toogle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__title {
    font-size: 20px;
    color: $mine-shaft;
    font-weight: 600;
  }
}
