.product-prev 
  .product-prev__header 
    .product-prev__slider 
      img(src="img/png/products/tee-shirt-blue.png", alt="Изображение товара" data-color="#008385").product-prev__img
      img(src="img/png/products/tee-shirt-red.png", alt="Изображение товара" data-color="#DB3232").product-prev__img
      img(src="img/png/products/tee-shirt-green.png", alt="Изображение товара" data-color="#008F44").product-prev__img
      img(src="img/png/products/tee-shirt-purple.png", alt="Изображение товара" data-color="#AD32C2").product-prev__img
  .product-prev__body 
    .product-prev__info
      span.product-prev__title Футболка беговая
      span.product-prev__country Румыния
    .product-prev__price 
      span.product-prev__price-current 499 руб.
      span.product-prev__price-old 599 руб. 
    .product-prev__colors 
  .product-prev__footer 
    button.btn В корзину