.product-prev 
  .product-prev__header 
    .product-prev__slider 
      .product-prev__img-wrapper
        img(src="img/png/products/tee-shirt-blue.png" alt="Изображение товара" data-color="#008385").product-prev__img
      .product-prev__img-wrapper
        img(src="img/png/products/tee-shirt-red.png" alt="Изображение товара" data-color="#db3232").product-prev__img
      .product-prev__img-wrapper
        img(src="img/png/products/tee-shirt-green.png" alt="Изображение товара" data-color="#008f44").product-prev__img
      .product-prev__img-wrapper
        img(src="img/png/products/tee-shirt-purple.png" alt="Изображение товара" data-color="#ad32C2").product-prev__img
  .product-prev__body 
    .product-prev__info
      span.product-prev__title Футболка беговая
      span.product-prev__country Румыния
    .product-prev__price 
      span.product-prev__price-current 499 руб.
      span.product-prev__price-old 599 руб. 
    .product-prev__colors 
    
      //- .product-prev__color
  .product-prev__footer 
    button.btn В корзину1