.s-about{
  padding: 30px 0 40px;
}
.about{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $tablet-size) {
    flex-direction: column;
  }
  & > * {
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
  }
  &-navigation{
    width: 180px;
    @media screen and (max-width: $tablet-size) {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
    }
    &__item{
      padding: 10px 0 10px 10px;
      font-weight: 600;
      border-bottom: 2px solid #dddddd;
      @media screen and (max-width: $tablet-size) {
        padding: 10px;
        flex: 1;
        text-align: center;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
      &.tabs-navigation__item--active{
        border-color: $sunset-orange;
      }
    }
  }
  &__body{
    flex: 1;
  }
  .text{
    line-height: 1.8;
  }
}