@import "../../mixins.scss";
@import "mobile.scss";

//header-top----------------------------
.header {
  border-bottom: 1px solid $athens-gray;
  @media screen and (max-width: $tablet-size) {
    border-bottom: none;
  }
  &__logo {
    margin-right: 40px;
    @media screen and (max-width: $tablet-size) {
      margin-right: 20px;
    }
    @media screen and (max-width: $phone-size) {
      // position: absolute;
      // left: 65px;
    }
  }
  &__nav {
    &.header__nav {
      &--right {
        margin-left: auto;
      }
    }
  }
  &__top {
    padding: 10px 0;
    background: $athens-gray;
    @media screen and (max-width: $tablet-size) {
      display: none;
    }
  }
  &__main {
    padding: 25px 0;
    @media screen and (max-width: $phone-size) {
      padding: 15px 0;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet-size) {
      justify-content: space-between;
    }
    @media screen and (max-width: $phone-size) {
      padding-left: 75px;
    }
  }
  &__phones {
    display: flex;
    margin-right: 90px;
    @media screen and (max-width: $tablet-size) {
      margin-right: 0;
    }
    & > * {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__item {
    @media screen and (max-width: $tablet-size) {
      display: none;
    }
    &.header__item--mobile {
      @media screen and (max-width: $tablet-size) {
        display: block;
      }
      @media screen and (max-width: $phone-size) {
        display: none;
      }
    }
  }
  &__phone {
    color: $tundora;
    display: block;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }
  &__link {
    color: $silver-chalice;
    font-size: 12px;
    line-height: 1.67;
    display: block;
    text-decoration: underline;
  }
  &__description {
    color: $silver-chalice;
    font-size: 12px;
    line-height: 1.67;
    display: block;
  }
  &__address {
    display: flex;
    position: relative;
    padding-left: 30px;
  }
  &-address {
    display: flex;
    flex: 0 0 190px;
    width: 90px;
    @media screen and (max-width: $tablet-size) {
      display: none;
    }
    &__icon {
      flex: 0 0 15px;
      height: 21px;
      width: 15px;
      margin-right: 15px;
    }
    &__text {
      color: $tundora;
      font-size: 12px;
      line-height: 1.67;
    }
  }
  &__shop {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    flex: 0 0 270px;
    width: 270px;
    @media screen and (max-width: $phone-size) {
      flex: 0 0 auto;
      width: auto;
      margin-left: 0;
    }
    & > * {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-goods {
    margin-right: 10px;
    @media screen and (max-width: $phone-size) {
      display: none;
    }
    &__price {
      position: relative;
      color: $tundora;
      display: block;
      font-size: 16px;
      font-weight: 600;
      white-space: nowrap;
    }
    &__count {
      color: $silver-chalice;
      font-size: 12px;
      line-height: 1.67;
      display: block;
    }
  }
  &-basket {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    background: $wild-sand;
    border-radius: 20px;
    cursor: pointer;
    @media screen and (max-width: $phone-size) {
      padding: 0;
      height: auto;
      background: transparent;
    }
    &__icon {
      @include size(30px);
      margin-right: 15px;
      @media screen and (max-width: $phone-size) {
        margin-right: 0;
      }
    }
    &__text {
      color: $tundora;
      font-weight: 600;
      @media screen and (max-width: $phone-size) {
        display: none;
      }
    }
  }
  &__search {
    margin-left: auto;
    .search__body {
      width: 550px;
    }
  }
  &__menu {
    @media screen and (max-width: $tablet-size) {
      display: none;
    }
  }
}
