block variables 
  - var title = 'Бренды'
  - var pageClass = 'brands-page'
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/libs.min.css")
    link(rel="stylesheet" href="../css/style.min.css")
    title #{title}
  body.fixed
    include modules/preloader/preloader
    header.header
      include modules/header/header-main
      .breadcrumbs 
        .container
          ul.breadcrumbs__list
            li.breadcrumbs__item 
              a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item 
              span.breadcrumbs__current Бренды
    section.s-brands 
      .container 
        .brands 
          h1.title-page Бренды
          ul.brands__list 
            each brand in [{img: 'merrell-logo',imgHover: 'merrell-logo-hover'}, {img:'columbia-logo',imgHover:'columbia-logo-hover'},{img: 'stern-logo',imgHover: 'stern-logo-hover'},{img: 'salomon-logo',imgHover: 'salomon-logo-hover'},{img: 'demix-logo',imgHover:'demix-logo-hover'},{img: 'outventure-logo',imgHover: 'outventure-logo-hover'}, {img: 'merrell-logo',imgHover: 'merrell-logo-hover'}, {img:'columbia-logo',imgHover:'columbia-logo-hover'},{img: 'stern-logo',imgHover: 'stern-logo-hover'},{img: 'salomon-logo',imgHover: 'salomon-logo-hover'},{img: 'demix-logo',imgHover:'demix-logo-hover'},{img: 'outventure-logo',imgHover: 'outventure-logo-hover'}, {img: 'merrell-logo',imgHover: 'merrell-logo-hover'}, {img:'columbia-logo',imgHover:'columbia-logo-hover'},{img: 'stern-logo',imgHover: 'stern-logo-hover'},{img: 'salomon-logo',imgHover: 'salomon-logo-hover'},{img: 'demix-logo',imgHover:'demix-logo-hover'},{img: 'outventure-logo',imgHover: 'outventure-logo-hover'}, {img: 'merrell-logo',imgHover: 'merrell-logo-hover'}, {img:'columbia-logo',imgHover:'columbia-logo-hover'},{img: 'stern-logo',imgHover: 'stern-logo-hover'},{img: 'salomon-logo',imgHover: 'salomon-logo-hover'},{img: 'demix-logo',imgHover:'demix-logo-hover'},{img: 'outventure-logo',imgHover: 'outventure-logo-hover'}, {img: 'merrell-logo',imgHover: 'merrell-logo-hover'}, {img:'columbia-logo',imgHover:'columbia-logo-hover'},{img: 'stern-logo',imgHover: 'stern-logo-hover'},{img: 'salomon-logo',imgHover: 'salomon-logo-hover'},{img: 'demix-logo',imgHover:'demix-logo-hover'},{img: 'outventure-logo',imgHover: 'outventure-logo-hover'}, {img: 'merrell-logo',imgHover: 'merrell-logo-hover'}, {img:'columbia-logo',imgHover:'columbia-logo-hover'},{img: 'stern-logo',imgHover: 'stern-logo-hover'},{img: 'salomon-logo',imgHover: 'salomon-logo-hover'},{img: 'demix-logo',imgHover:'demix-logo-hover'},{img: 'outventure-logo',imgHover: 'outventure-logo-hover'} ]
              li.brands__item
                a(href="#").brand
                  .brand__img-wrapper
                    img(src=`img/content/brands/${brand.img}.svg`).brand__img
                    img(src=`img/content/brands/${brand.imgHover}.svg`).brand__img-hover
    include modules/footer/footer
    script(src="js/libs.min.js")
    script(src="js/main.js")