.s-banner {
  .banner {
    position: relative;
    height: 400px;
    max-width: 1028px;
    margin: 0 auto;
    background-image: url(../../../img/content/banner/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: $tablet-size) {
      height: 354px;
      max-width: 911px;
    }
    @media (max-width: $phone-size) {
      height: 260px;
      background-image: url(../img/content/banner/banner-mobile.jpg);
      background-position: bottom;
    }
    &__title {
      width: 360px;
      font-size: 50px;
      font-weight: 700;
      margin-left: 60px;
      margin-top: 103px;
      letter-spacing: -2.5px;
      line-height: 58px;
      color: #fff;
      @media (max-width: $tablet-size) {
        font-size: 42px;
        margin-top: 86px;
        margin-left: 55px;
        line-height: 53px;
        letter-spacing: -0.6px;
      }
      @media (max-width: $phone-size) {
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;
        margin-top: 129px;
        margin-left: 17px;
        width: 235px;
      }
    }
    &__link {
      display: inline-block;
      margin-left: 60px;
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -1.2px;
      color: #ffffff;
      background: $orange;
      border-radius: 18px;
      padding: 20px 30px 20px 23px;
      @media (max-width: $tablet-size) {
        margin-left: 54px;
        margin-top: 28px;
        font-size: 25px;
        padding: 17px 25px 20px 21px;
        letter-spacing: normal;
        border-radius: 10px;
      }
      @media (max-width: $phone-size) {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        padding: 7px 8px 8px 8px;
        border-radius: 20px;
        position: absolute;
        right: 25px;
        bottom: -16px;
      }
    }
  }
}
