.footer {
  background: #818a81;
  &__main {
    padding-top: 44px;
    padding-bottom: 40px;
    margin-right: 45px;
    @media (max-width: $tablet-size) {
      padding-top: 33px;
      padding-bottom: 50px;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-left: 84px;
      @media (max-width: $tablet-size) {
        margin-left: 64px;
      }
    }
  }
  &__shops-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: #ff8219;
    margin-top: 29px;
    margin-left: 84px;
    @media (max-width: $tablet-size) {
      margin-top: 24px;
      margin-left: 64px;
    }
  }
  &__phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 74px;
    @media (max-width: $tablet-size) {
      font-size: 16px;
      margin-top: 14px;
      line-height: 20px;
      margin-left: 55px;
    }
  }
  &__whatsapp-link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 10px 3px 7px;
    border: 1px solid #ff8219;
    margin-top: 28px;
    margin-left: 82px;
    @media (max-width: $tablet-size) {
      font-size: 11px;
      line-height: 13px;
      padding: 7px 5px 8px 4px;
      margin-top: 25px;
      margin-left: 63px;
    }
  }
  &__nav {
    margin-top: 8px;
    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #ffffff;
      @media (max-width: $tablet-size) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-item {
      margin-top: 6px;
      @media (max-width: $tablet-size) {
        margin-top: 5px;
      }
    }
    &-link {
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: #ffffff;
      @media (max-width: $tablet-size) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  &__social {
    height: 34px;
    margin-top: 27px;
    margin-left: 80px;
    @media (max-width: $tablet-size) {
      margin-top: 8px;
      margin-left: 60px;
    }
  }
  &__bottom {
    background: #fff;
    padding-top: 24px;
    padding-left: 85px;
    @media (max-width: $tablet-size) {
      padding-top: 19px;
      padding-left: 64px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      padding-right: 158px;
    }
    &-item {
      &:first-child {
        width: 466px;
      }
      &:nth-child(2) {
        span {
          display: block;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.02em;
          margin-top: 7px;
          &:first-child {
            margin-top: 0;
          }
        }
        .privacy-policy {
          text-decoration: underline;
          display: block;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.02em;
          margin-top: 7px;
          color: rgba(6, 6, 6, 0.81);
        }
      }
      .yandex-market-link{
        img{
          width: 170px;
          height: 85px;
          margin-top: 16px;
          margin-left: 46px;
          @media (max-width: $tablet-size){
            width: 137px;
            height: 68px;
          }
        }
      }
    }
  }
  .copyright {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: rgba(6, 6, 6, 0.81);
    margin-top: 10px;
    @media (max-width: $tablet-size) {
      font-size: 14px;
      line-height: 17px;
      margin-top: 8px;
    }
  }
  @media (max-width: $tablet-size) {
    &__logo {
      img {
        width: 131px;
      }
    }
  }
}
