.footer {
  margin-bottom: -19px;
  padding: 30px 0 0;
  background: $solitude;
  &__main {
    margin-bottom: 35px;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    &:nth-child(3) {
      .footer__nav {
        margin-bottom: 30px;
      }
    }
  }
  &__address {
    max-width: 155px;
    line-height: 1.8;
  }
  &-nav {
    &__link {
      color: $mine-shaft;
      display: inline-block;
      transition: all 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
    &__item {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__phones {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-end;
  }
  &__phone {
    font-size: 20px;
    font-weight: 600;
    color: $mine-shaft;
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 5px;
  }
  &__mail {
    color: $mine-shaft;
  }
  &__bottom {
    background: $athens-gray;
    padding: 20px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__personal-data {
    color: $silver-chalice;
  }
  &__socials {
    padding-bottom: 30px;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .socials {
        display: flex;
        justify-content: space-between;
        &__icon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 25px;
          &:last-child {
            margin-right: 0;
          }
          img {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }
        &__link {
          color: $silver-chalice;
        }
      }
    }
    .yandex-market {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 10px;
      }
      .btn {
        transition: all 0.3s;
        font-weight: 700;
        &:hover {
          background: $sunset-orange;
          color: #fff;
        }
      }
    }
  }
}
