.btn {
  height: 40px;
  border: 1px solid $sunset-orange;
  border-radius: 2px;
  line-height: 38px;
  color: $sunset-orange;
  background: #fff;
  padding: 0 20px;
  display: inline-block;
  text-align: center;
  transition: .3s;
  &.btn{
    &--transparent{
      &-white{
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        &:hover{
          background: #fff;
        border: 2px solid #fff;
        color: $sunset-orange;
        }
      }
    }
    &--round{
      border-radius: 20px;
    }
    &--inline{
      display: inline-block;
    }
  }
}
