section.s-about 
  .container 
    h2.title-section О нас
      .about.tabs 
      ul.tabs-navigation.about-navigation
        li.tabs-navigation__item.tabs-navigation__item--active.about-navigation__item Интернет-магазин
        li.tabs-navigation__item.about-navigation__item Наши преимущества
        li.tabs-navigation__item.about-navigation__item Сервис
        li.tabs-navigation__item.about-navigation__item Доставка
      .tabs__body.about__body
        .tab.tab--active
          p 1
        .tab 
          p 2
        .tab
          p 3
        .tab 
          p 4