section.s-about 
  .container 
    h2.title-section О нас
    .about.tabs 
      ul.tabs-navigation.about-navigation
        li.tabs-navigation__item.tabs-navigation__item--active.about-navigation__item Интернет-магазин
        li.tabs-navigation__item.about-navigation__item Наши преимущества
        li.tabs-navigation__item.about-navigation__item Сервис
        li.tabs-navigation__item.about-navigation__item Доставка
      .tabs__body.about__body
        .tab.tab--active
          p.text Интернет-магазин Физкульт-мастер предлагает широчайший выбор спортивного инвентаря. В каталоге представлена продукция ведущих производителей по вполне приемлемым ценам. У нас вы найдете спортивную одежду, обувь, оборудование и снаряжение для любого возраста и любых погодных условий. Вы получаете товар, мы получаем деньги, и все счастливы! Интернет-магазин Физкульт-мастер предлагает широчайший выбор спортивного инвентаря. В каталоге представлена продукция ведущих производителей по вполне приемлемым ценам. У нас вы найдете спортивную одежду, обувь, оборудование и снаряжение для любого возраста и любых погодных условий. Вы получаете товар, мы получаем деньги, и все счастливы! 
        .tab 
          p.text Преимуществ у нас немало. Интернет-магазин Физкульт-мастер предлагает широчайший выбор спортивного инвентаря. В каталоге представлена продукция ведущих производителей по вполне приемлемым ценам. У нас вы найдете спортивную одежду, обувь, оборудование и снаряжение для любого возраста и любых погодных условий. Вы получаете товар, мы получаем деньги, и все счастливы!
        .tab
          p.text Наш сервис вас приятно удивит, поскольку интернет-магазин Физкульт-мастер предлагает широчайший выбор спортивного инвентаря. В каталоге представлена продукция ведущих производителей по вполне приемлемым ценам. У нас вы найдете спортивную одежду, обувь, оборудование и снаряжение для любого возраста и любых погодных условий. Вы получаете товар, мы получаем деньги, и все счастливы!
        .tab 
          p.text Доставка осуществляется максимально быстро в любую точку нашей Родины, как, впрочем, и ближнего зарубежья, ведь интернет-магазин Физкульт-мастер предлагает широчайший выбор спортивного инвентаря. В каталоге представлена продукция ведущих производителей по вполне приемлемым ценам. У нас вы найдете спортивную одежду, обувь, оборудование и снаряжение для любого возраста и любых погодных условий. Вы получаете товар, мы получаем деньги, и все счастливы!