section.s-advantages 
  .container 
    .advantages
      .advantage
        .advantage__icon-wrapper
          img(src="img/svg/warranty.svg", alt="гарантия").advantage__icon
        .advantage__body
          .advantage__title Гарантия
          .advantage__descr качества всех товаров
      .advantage
        .advantage__icon-wrapper
          img(src="img/svg/delivery.svg", alt="доставка").advantage__icon
        .advantage__body
          .advantage__title Доставка
          .advantage__descr по всей России
      .advantage
        .advantage__icon-wrapper
          img(src="img/svg/payment.svg", alt="оплата").advantage__icon
        .advantage__body
          .advantage__title Оплата
          .advantage__descr онлайн и наличными       