section.s-hits
  .container 
    .title-section Хиты продаж
    .hits.tabs 
      ul.tabs-navigation.hits-navigation
        li.tabs-navigation__item.tabs-navigation__item--active.hits-navigation__item Хиты продаж
        li.tabs-navigation__item.hits-navigation__item Выгодно
        li.tabs-navigation__item.hits-navigation__item Новинки
      .tabs__body 
        .tab.tab--active
          p 1
        .tab 
          p 2
        .tab 
          p 3