.header__mobile 
  .container
    nav.mobile-nav 
      .mobile__nav-header 
        .mobile__nav-sandwich.sandwich
          .sandwich__line.sandwich__line_top 
          .sandwich__line.sandwich__line_middle 
          .sandwich__line.sandwich__line_bottom 
        span.mobile__nav-title Каталог товаров
      ul.mobile-nav__list
    .search.search--hide
      .search__body.search--hide
        form.search__form.search--hide
          .search__input-wrapper.search--hide
            input(placeholder="Я хочу купить...").search__input.search--hide
            .search__clear.search--hide
              img.search__clear-icon.search--hide(src="img/svg/close.svg", alt="")
          input(type="submit" value="Найти").search__btn.search--hide