block header-main
  .header__main
    .container
      .header__content
        if(pageClass === "index-page")
          .header__logo.logo 
            img(src="img/png/logo.png", alt="Логотип").logo__img
        else 
          a(href="index.html").header__logo.logo
             img(src="img/png/logo.png", alt="Логотип").logo__img
        .header__phones 
          .header__item.header__item--mobile 
            a(href="tel:82345678910").header__phone 8 (123) 456-78-91 
            a(href="").header__link  Заказать звонок 
          .header__item 
            a(href="tel:82345678910").header__phone 8 (123) 456-78-91 
            span.header__description  Звонок бесплатный
        .header__address.header-address
          img(src="img/svg/location.svg", alt="").header-address__icon
          span.header-address__text Байбышевск, ул Схалазменского 12
        .header__shop
          .header-goods
            span.header-goods__price 0 р
            span.header-goods__count 0 товаров
          .header-basket
            img(src="img/svg/cart.svg").header-basket__icon
            span.header-basket__text Корзина