.header__main
  .container
    .header__content
      .header__logo.logo 
        img(src="img/logo.png", alt="logo")
      .header__phones 
        .header__item 
          a(href="tel:82345678910").header__phone 8 (123) 456-78-91 
          a(href="").header__link  Заказать звонок 
        .header__item 
          a(href="tel:82345678910").header__phone.m0 8 (123) 456-78-91 
          a(href="").header__link  Звонок бесплатный
      .header__address.header-address
        span.header-address__text Москва, пр-т Степанова, 12 к. 3, павильон № 3/4
        .header__shop
          .header-goods 
            span.header-goods__price 0p
            span.header-goods__count 0 товаров
          .header-basket
            .icon.header-basket__icon
            span.header-basket__text Корзина

    